<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>メッセージの編集</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>メッセージの編集</h1>

      <!-- POSTで更新-->
      <form action="/edit/{{ message[0] }}" method="POST" class="post-form edit-form">
        <textarea name="message" required>{{ message[1] }}</textarea>
        <button type="submit">更新する</button>
      </form>

      <p class="auth-link">
        <a href="/">キャンセルしてもどる</a>
      </p>
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </body>
  </body>
</html>
